@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.depth {
  border: solid 0.125rem oklch(0.8 0.02 91);
  box-shadow: 0 0.125rem oklch(0.8 0.02 91);
}

.depth-2 {
  border: solid 0.125rem oklch(0.8 0.02 91);
  box-shadow: 0 0.25rem oklch(0.8 0.02 91);
}

.last-borderless>*:last-child {
  border: none !important;
}

@media (max-width: 600px) {
  .hidden-sm {
    display: none;
  }
}
