* {
  box-sizing: border-box;
}

:hover {
  background-color: var(--hover-bg);
}

.last-borderless>*:last-child {
  border: none !important;
}

@media (max-width: 600px) {
  .hidden-sm {
    display: none;
  }
}
