* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}


:hover {
  background-color: var(--hover-bg) !important;
}

.last-borderless>*:last-child {
  border: none !important;
}

@media (max-width: 600px) {
  .hidden-sm {
    display: none;
  }
}
